<?xml version="1.0" encoding="UTF-8"?>
<!-- Connection , PreparedStatement -->
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN"  "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<typeAliases>
	<!--  VO 등록 -->
		<typeAlias type="com.sist.dao.StudentVO" alias="StudentVO"/>
	</typeAliases>
	
	<!-- Connection : DataBase정보 (driverClassName,url,username,password : maxActive:8 maxIdle:8 -->
	<environments default="development">
	 <environment id="development">
	 	<transactionManager type="JDBC"/>
	 	<!--  
	 		transaction : 일괄처리 = commint, rollback , savepoint
	 		시스템에서 처리 :JDBC
	 		관리 : MANAGED
	 	-->
	 	<dataSource type="POOLED">
	 		<!-- 
	 			일반 JDBC : UNPOOLED
	 			DBCP : POOLED
	 		 -->
	 		<!-- 데이터 베이스 정보전송 getConnection(), disConnection()  -->
	 		<property name="driver" value="oracle.jdbc.driver.OracleDriver"/>
	 		<property name="url" value="jdbc:oracle:thin:@localhost:1521:ORCL"/>
	 		<property name="username" value="scott"/>
	 		<property name="password" value="tiger"/>
	 		
	 	</dataSource>
	 </environment>
	</environments>
	<mappers>
		<!-- Statement : sql 문장-->
		<!-- include -->
		<mapper resource="com/sist/dao/student-mapper.xml"/>
	</mappers>
</configuration>
